[2020-06-15 13:25] zsombornagy opened #1 "Wrong filename - remove_unsupported_libraries.rb"
The "How can I use it?" shows to import `remove_unsupported_libraries.rb`, but the linked file is actually called `remove_ios_only_frameworks.rb`

[2020-06-15 13:28] zsombornagy opened #2 "An error occurred while processing the post-install hook of the Podfile: undefined method `filter' for "":String"
Hi!

Thanks for writing those articles and making this repo.
I'm trying to use this now, but I get this error:

[code]

I added this at the end of my Podfile:

[code]

and then run `pod install`

Thanks!

[2020-06-15 15:06] fermoya commented on #2
Hi @zsombornagy ,

Are you using the most updated script (find it [here](https://github.com/fermoya/CatalystPodSupport/blob/master/remove_ios_only_frameworks.rb))? I'm running it and it works fine for me:

[code]

Could you share the script logging, please? I noticed you have `debug` set to `true`.

[2020-06-15 15:09] fermoya commented on #1
You're right, I totally missed that one. I updated the README, thanks.
<img width="362" alt="Screenshot 2020-06-15 at 16 08 39" src="https://user-images.githubusercontent.com/11335612/84674139-80a0eb80-af22-11ea-859d-953cc3df5f05.png">

[2020-06-15 15:09] #1 closed

[2020-06-16 06:04] zsombornagy commented on #2
Hi!

Yes, I'm using the latest version. I downloaded it by clicking the "this ruby file" link in the readme. But now I downloaded it again.

Unfortunately I don't have more logs, just what I pasted above.

[code]

[2020-06-16 06:06] zsombornagy commented on #2
Now I added these lines to the script:

[code]

(last time I wrote any ruby was 10 years ago, so maybe this is wrong)

this is the output:

[code]

this line 231 is the line I added:
[code]

[2020-06-16 06:07] zsombornagy commented on #2
now I tried this:

[code]

am I having some ruby version issue?

[2020-06-16 09:18] fermoya commented on #2
@zsombornagy the line where it's failing is this
[code]
The error says:
[code]
that means that `other_ldflags` is a `String` and not a `Hash`. `other_ldflags` is retrieved by using `resolved_build_setting(key)` which, according to the [documentation](https://www.rubydoc.info/github/CocoaPods/Xcodeproj/Xcodeproj/Project/Object/AbstractTarget#resolved_build_setting-instance_method), returns a `Hash`

[2020-06-16 12:00] zsombornagy commented on #2
[code]

I added these to the script:
[code]

and my output is:

[code]

I will try it with a new xcode project later to figure out if something is strange with the project actually.

You wrote that `resolve_build_setting` returns an Array, but looking at the documentation it looks like it returns a String... am I reading it wrong?

https://www.rubydoc.info/gems/xcodeproj/Xcodeproj%2FProject%2FObje

[2020-06-16 12:07] fermoya commented on #2
@zsombornagy I usually look at the code in masters directly, it's more updated. So if you see here:
https://github.com/CocoaPods/Xcodeproj/blob/master/lib/xcodeproj/project/object/build_configuration.rb

You'll see:
[code]
Can you also do `xcodeproj --version` and see what version prints for you?

[2020-06-16 12:25] fermoya commented on #2
If you do `gem environment` you'll see your gems' _INSTALLATION DIRECTORY_. You can also `cd` this folder, `cd` your gem `xcodeproj` and open `lib/xcodeproj/project/object/build_configuration.rb`. In this file, the method   `resolve_build_setting` should return an `Array`

[2020-06-16 13:29] zsombornagy commented on #2
I have:

[code]

in `/Library/Ruby/Gems/2.6.0/gems/xcodeproj-1.16.0/lib/xcodeproj/project/object/build_configuration.rb` I have this:

[code]

I don't know enough Ruby anymore to understand if this returns an Array or a String. The docstring says it's a String (right? it's confusing because `[String]` would be an array in Swift, but I think here it's just the format of the docstring?), but this la

[2020-06-16 14:47] fermoya commented on #2
OMG, apologies, I'm so used to associate `[]` with `Array`, you're right. Weird enough, when I debug it I get an `Array`. I'll keep digging into this too, thanks.

[2020-06-16 15:04] fermoya commented on #2
@zsombornagy it's really strange it's not returning a String for me. The problem is I can't see how it looks like when that `String` isn't empty. For now you could do this:
[code]

[2020-06-16 15:59] fermoya commented on #2
It's also strange that it returns an empty String. If you look up `TwitterKit.debug.xcconfig` and `TwitterCore.debug.xcconfig` (or swap `debug` in the filename with your build configuration) you should see `OTHER_LDFLAGS` isn't empty:
#### TwitterCore
[code]
#### TwitterKit
[code]
You can see this if you comment the `post_install` block inside your `Podfile`.

[2020-06-16 17:26] weitieda commented on #2
Hi @fermoya

Thanks for sharing the script, unfortunately I'm having the same error.

My Podfile:

[code]

After `pod install`, errors below.
[code]

Seems like something wrong with `filter` in ruby? Thank you in advance.

[2020-06-16 17:39] fermoya commented on #2
Hi @weitieda ,

This is very strange. I’m using this script myself in production with an even more complex Podfile than the one you share and it’s working fine. Before your comment, I’ve mentioned a possible solution. If you modify the script this way:
[code]
Could you also update ruby and Cocoapods? I’m seeing in your stacktrace that Cocoapods version is 1.9.1 and Ruby version is 2.6.0. The scrip

[2020-06-16 17:55] weitieda commented on #2
Thanks for your quick reply @fermoya

I just did the following:
1. Updated CocoaPods to 1.9.3
2. Modified script
[code]
3. `pod install`, success

Still fail to build with error, but seems like the catalyst app still using `Firebase` somewhere. I guess the script is working fine.
[code]

Thanks again for your help and the script :)

[2020-06-16 19:11] fermoya commented on #2
@weitieda nope, that error should be fixed by the script. The problem is I can't manage to reproduce this scenario where an empty String is returned and see that error.

Could you do the following, please?
* Remove what you added to the script and check the gem used is cocoa pods version 1.9.3
* Add the snippet below to your `Podfile` and paste here the logging
[code]

[2020-06-16 19:22] fermoya commented on #2
@weitieda good news, I've found out `use_modular_headers!` is causing the problem and I get the same error:
[code]

[2020-06-16 20:17] weitieda commented on #2
Thanks for your reply.

I started to use `use_modular_headers!`few months ago, back then there's a bug that I could not update the pods. After searching, I found `use_modular_headers!` works for me(sorry, I can't remember the detail of that error) then until now everything is working fine so I didn't modify it.

[2020-06-16 21:07] fermoya commented on #2
@weitieda I've updated the script, can you try again? I've noticed when you use `use_modular_headers!` in a target along with `use_modular_headers!` along with another target, it'll add _-library_ or _-framework_ to the name.

Let me know if it works now, I think it should. Let's cross fingers.

In your case, you might want to try to compile your TV target too. If you find any issue, please open a

[2020-06-17 12:48] fermoya commented on #2
@zsombornagy I think your issue should be fixed if you update the contents of [remove_ios_only_frameworks.rb](https://github.com/fermoya/CatalystPodSupport/blob/master/remove_ios_only_frameworks.rb)

[2020-06-17 13:48] zsombornagy commented on #2
The updated script works!

Well, at least it doesn't give me an error. But I realized that I don't understand some basic things about cocoapods and catalyst builds. I don't have "use_frameworks!" in my Podfile, and maybe that's the core issue here? Do I need to use frameworks? I guess because I'm not using frameworks, I don't have OTHER_LDFLAGS in the xcconfig files of the pods. (or maybe it's unr

[2020-06-17 13:48] #2 closed

[2020-06-17 13:54] fermoya commented on #2
@zsombornagy I did some digging yesterday. `use_frameworks!` will create dynamic libraries, that is, they need to get compiled and linked to the library it references. `use_modular_headers!` will create static libraries, so they don't need `OTHER_LD_FLAGS` because the dependencies are already included in the binary.

In any case, it's weird that for `use_frameworks!` it returns an `Array` type whe

[2020-06-18 15:10] fermoya commented on #2
@weitieda , did it work for you?

[2020-06-18 16:06] weitieda commented on #2
@fermoya Thanks for the updates. Bit busy with other stuff, haven't tried it out yet, will report back later. :)

[2020-06-30 06:52] Dids opened #3 "Not working for AppCenter pods"
The script seems to pick up the AppCenter pod just fine, but when building for macOS/Catalyst, it's still trying to include AppCenter.

The `AppCenter` target doesn't seem to be a shared library either and it's an aggregate target instead, in case this makes a difference.

Linker error:
[code]

Podfile:
[code]

A bit unrelated, but I believe AppCenter is now also available through the Swift Packag

[2020-06-30 07:04] Dids commented on #3
Never mind! Not only was this due to the main application project having `AppCenter` "statically" defined under `Other Linker Flags`, the Swift Package Manager version of AppCenter seems to support both iOS and macOS, so all is well.

[2020-06-30 07:04] #3 closed

[2020-07-07 12:53] fermoya commented on #3
Someone asked me the same question in my [original gist](https://gist.github.com/fermoya/f9be855ad040d5545ae3cb254ed201e4) (see last comments).

@Dids where did you see `AppCenter` was statically defined? This could be helpful for me to update the script. If this is an option in Cocoapods then I could perhaps fix this. Currently the script would swap `AppCenter/Distribute` with `AppCenterDistribut

[2020-07-07 21:50] david-young-fax opened #4 "Cannot run the script"
I followed the instruction, downloaded the remove_ios_only_frameworks.rb, and put it the same folder with Podfile.

And here is the modified Podfile:

`load 'remove_ios_only_frameworks.rb'`

`target 'xxx' do`
`  use_frameworks!`

`  pod 'PhoneNumberKit', '~> 2.1'`
`  pod 'IGRPhotoTweaks', '~> 1.0.0'`
`  pod 'Alamofire', '~> 4.7'`
`  pod 'SwiftyJSON'`
`  pod 'Firebase'`
`  pod 'Firebase/Crashlytics

[2020-07-07 21:55] fermoya commented on #4
Hi @david-young-fax , I see you’re using ruby 2.5.0. You need to use ruby 2.6.0 at least, I thought I had this in the Readme, apologies for that. See this link [here](https://stackoverflow.com/questions/57091201/undefined-method-filter-for-array)

[2020-07-08 01:31] Brett-Best commented on #3
@fermoya that was me, sorry I didn’t get around to replying. I ended up following the suggestion, for some reason I think the bundle included was still getting added to the target causing issues. I resolved that by adding macCatalyst dedicated configurations. I was meaning to create a reproducible project for you, which I can do if you’d like?

[2020-07-08 07:23] fermoya commented on #3
@Brett-Best no worries, yesterday I included some changes in the script and the issue should be solved, including the `AppCenterDistributeResources.bundle` issue.

[2020-07-08 08:33] fermoya commented on #4
I've updated the [README](https://github.com/fermoya/CatalystPodSupport/blob/master/README.md) to add a list of requirements.

Let me know if I can help with anything else. I'll close the issue as this issue is related to the Ruby version

[2020-07-08 08:33] #4 closed

[2020-07-09 09:03] Brett-Best commented on #3
@fermoya just tested using the latest version, works great! Was able to remove my macCatalyst specific configurations as well 🎉. Thanks!

[2020-07-11 12:21] Brett-Best opened #5 "DSYM Generation"
Just wondering if you’ve faced any issues with dSYMS not generating for the macCatalyst target?

[2020-07-11 14:33] fermoya commented on #5
@Brett-Best, what do you mean? The excluded pods shouldn’t generate dSYM for macCatalyst, should they? When I archive for Mac I see the symbols for all non-excluded frameworks. Technically the script just unlinks and skips compilation of the selected frameworks if I’m not missing anything. What have you noticed? Any issue with the store?

[2020-07-11 14:56] Brett-Best commented on #5
@fermoya I did some more digging, it turns out that the iOS Default for `DEBUG_INFORMATION_FORMAT` is `dwarf-with-dsym`. When compiling for macCatalyst, it is actually `dwarf` (which isn’t displayed in the project configuration). So it’s necessary to override the `DEBUG_INFORMATION_FORMAT` and make sure that it’s bolded in the project configuration.

[2020-07-11 14:56] #5 closed

[2020-07-13 09:40] fermoya commented on #5
Just for future readers, if you're having trouble with the dSYM generation in macCatalyst, you should override `DEBUG_INFORMATION_FORMAT` like this:
[code]

[2020-07-23 17:22] Brett-Best opened #6 "Building for My Mac using Xcode 12"
It seems when building for the my Mac target in Xcode 12 that the ARCHS is `arm64 x86_64` instead of just `x86_64`, this causes the copy resources script to fail.

In your script I changed the following:
[code]
to
[code]
This fixes the issue when using Xcode 12 but breaks Xcode 11.
I’m also hesitant that changing it here is the right approach.

[2020-07-23 17:27] fermoya commented on #6
Hi @Brett-Best,

If anything, it should be:
[code]
as it is an array. What’s the error exactly? I assumed that pods would compile just fine as they do for iOS, that is, arm64 architecture.

[2020-07-23 17:29] Brett-Best commented on #6
I tried adding it as an array initially but that didn’t work.

The error is:
[code]

[2020-07-23 17:34] fermoya commented on #6
The condition is wrong, there should be an OR operation there. This is what the array achieves but still it'd fail because `arm64` is shared for iOS and macOS now. There might be another environment value $SDK that would be more suitable, but I’d have to check.

I’ll keep an eye on this, it shouldn’t be very difficult to fix.

Are you compiling with one of the new Silicones?

[2020-07-23 17:48] Brett-Best commented on #6
Compiling with a ‘normal’ machine using Xcode12b3.

[code]

The above seems to work for both Xcode 11 and 12.
[code]

I had to manually change the || to && in the script after the pod installation

[2020-07-23 20:16] fermoya commented on #6
Hey @Brett-Best , I think you're not using the last version of the script, could it be possible? You should have something like this:
[code]
For me it's compiling well in both Xcode 11 and Xcode 12. I've tried archiving too. My dummy `Podfile` defines:
[code]

[2020-07-23 20:21] Brett-Best commented on #6
@fermoya

Checked that I’m using the latest version of the script. Debug works fine and I do have the code like what you’ve posted for the debug config.

For some reason $ARCHS is `arm64 x86_64` for me when I try to archive with a target of `My Mac`.

Are you running on macOS 11.0 beta?

[2020-07-23 20:24] fermoya commented on #6
nope, I'm running this on _macOS 10.15.5_. So if you add `echo $ARCHS` in your _*resource.sh_ file, what does it print?

[2020-07-23 20:25] Brett-Best commented on #6
It prints `arm64 x86_64`

[2020-07-23 21:13] fermoya commented on #6
@Brett-Best . I was wondering why I couldn't build for `arm64`, maybe it's that and you need to update to the beta first...

Can you try something for me? I rather use the `SDKROOT` instead of `$ARCHS` and have a bunch of conditions there. I've updated the script, could you try and let me know if it works on _macOS 11_ and _Xcode 12_, please?

[2020-07-23 21:27] Brett-Best commented on #6
Just checked and can confirm it works 🎉 thanks!

[2020-07-23 21:27] #6 closed

[2020-10-09 10:57] ericbenwa opened #7 "After including CatalystPodSupport I get error "Could not build Objective-C module 'Firebase'" on Mac app"
I'm guessing this is happening because I've successfully removed Firebase from the Mac app using this repo but it's still trying to `import Firebase` because it's listed in my ViewController.swift.

ViewController.swift
`import Firebase` Error: "Could not build Objective-C module 'Firebase'"

and throughout ViewController.swift I am calling Analytics events that use Firebase.
`Analytics.logEvent("

[2020-10-09 11:14] fermoya commented on #7
Hi @ericbenwa , if you see the documentation [here](https://github.com/fermoya/CatalystPodSupport#how-can-i-use-it) you see you need to use compiler flags to avoid using that code in your `ViewController`:
[code]
And then:
[code]

[2020-10-09 11:29] ericbenwa commented on #7
Ah, yes, thank you!

I'm an idiot, I just needed to scroll up a little more on the README.
Was scouring too low and the Issues.

[2020-10-09 11:29] #7 closed

[2020-10-17 15:31] PeterBuerer opened #8 "Issue copying bundles"
I've run into an issue where copying bundles to iOS for a pod excluded from catalyst isn't working. As far as I can tell `test -f` just fails for bundles. Could be something else I'm missing though.

#### Failing copying code for debug scheme: ####
![failing test command](https://user-images.githubusercontent.com/8030154/96346547-509d5c80-106a-11eb-85a5-d974659a54cf.png)

I implemented a workaroun

[2020-10-17 16:59] fermoya commented on #8
Hi @PeterBuerer , thanks for opening this issue, I’ll take a look at it. What’s the pod that’s giving you problems? Could you please share your poddile?

[2020-10-17 17:17] fermoya commented on #8
The test -f is just checking that that path exists and is a file in order to install it. I don’t remember exactly, but I think it have trouble with the simulator. I noticed the script the test line has an extra $ symbol, that might be the error

[2020-10-17 18:16] PeterBuerer commented on #8
Intercom is the pod I'm having issues with https://cocoapods.org/pods/Intercom.
Podfile:
[code]

I appreciate the help!

[2020-10-17 18:39] fermoya commented on #8
hey @PeterBuerer , I'm using your Podfile with the version of the script in this repository and I can Build and Archive for both Any iOS and Any macOS.

What's the error you get and for which device (iOS, iOS simulator, macOS)?

This snippet:
[code]
checks that a file in the path `${PODS_ROOT}/Intercom/Intercom/Intercom.framework/Versions/A/Resources/Intercom.bundle` exists and if so, it installs

[2020-10-17 18:47] fermoya commented on #8
@PeterBuerer , I think this might help you:
https://github.com/fermoya/CatalystPodSupport#select-build-configurations-to-process-for-store-upload
Which build configuration are you using? Check out what the value is for `DEBUG` macro in that configuration

[2020-10-17 19:40] PeterBuerer commented on #8
I'm running the Debug configuration with `DEBUG=1` in the preprocessor macros
![DEBUG setup](https://user-images.githubusercontent.com/8030154/96351654-f52f9680-108a-11eb-8de9-1eda685bdadb.png)

The build log of the pods resources script in the Report Navigator has these errors that the test commands produce:
![test command failing](https://user-images.githubusercontent.com/8030154/96351687-1c8663

[2020-10-18 16:42] fermoya commented on #8
Hey @PeterBuerer , I just pushed some changes and it should be fine now, could you please check for me?

Apologies, as it built successfully I didn't notice that error. The condition was wrong, you can either do `if test -f FILE` or `if [-f FILE]`. I've used `-d` because bundles are directories after all.

Just to explain, you will probably not see this condition any more in your script. When Xcod

[2020-10-18 20:16] PeterBuerer commented on #8
That works! This is what that section of the resources script looks like for me now:
![Screen Shot 2020-10-18 at 4 05 24 PM](https://user-images.githubusercontent.com/8030154/96378700-df3dd680-115b-11eb-9723-91796524080d.png)

Thanks for the explanation and for building out this tool, @fermoya!

[2020-10-18 20:17] #8 closed

[2020-11-06 10:23] rowanmulder opened #9 "[BUG] CocoaPods 1.10.0 and Pod distributing XCFramework is breaking the Mac Catalyst build"
Recently Google updated their Google Mobile Ads SDK (as well as the Google User Messaging SDK in the previous release), to move from a .framework to a .xcframework.

Unfortunately while including the libraries in the pod.file as defined in the README for the script, the build (exclusion) for Mac Catalyst fails.

--

[code]

[code]

--

**Build errors**
ld: warning: directory not found for option '

[2020-11-06 10:35] fermoya commented on #9
Hey hi @rowanmulder , thanks for raising this, I'll give it a look shortly

[2020-11-06 11:55] fermoya commented on #9
@rowanmulder are you using the last version of the script? I have this Podfile:
[code]
with the Manifest.lock:
[code]
And it seems to work, Build and Archive.

[2020-11-06 12:11] rowanmulder commented on #9
Once I changed it to 7.64.0, it will fail on Google User Messaging Platform (a dependency from Google Mobile Ads), and if I change it to 7.68.0 both Google Mobile Ads and User Messaging Platform give the same errors.

I'm using CocoaPods 1.10 by the way, could that be related, I believe it also had some changes related to .xcframeworks integration?

[2020-11-06 12:15] fermoya commented on #9
@rowanmulder I just checked with cocoapods 1.10.0 and that might seem to be the issue. With 1.9.0 it seems to work.

I'll give it a look, thanks

[2020-11-06 13:37] fermoya commented on #9
@rowanmulder  I think I got it, will you give it a look please? Use the last version, I just committed

[2020-11-06 13:48] rowanmulder commented on #9
Updated the script, and I am able to build the latest releases of CocoaPods (1.10), Google Mobile Ads (7.68.0) and Firebase (7.0). Excellent, thanks!

[2020-11-06 13:50] fermoya commented on #9
Cheers! It was a simple change anyways.

Thanks a million for noticing and opening this issue, it was very helpful

[2020-11-06 13:51] #9 closed

[2020-11-18 17:36] jhmacdon opened #10 "Script won't remove any libraries"
Maybe I am using it wrong, but unless I comment out this line:
`pod_names_to_remove = podfile.dependencies.filter do |d| pod_names_to_remove.include? d.name end.flat_map do |d| [d.name, d.to_root_dependency.name] end.map do |s| s.sub('/', '') end`

the script doesn't seem to remove any of the libraries.

Setting my unsupported pods to:
[code]

If I add the first line back in, they're all empty.

S

[2020-11-18 17:40] fermoya commented on #10
Hi @jhmacdon can you please share your `Podfile`?

[2020-11-18 19:56] fermoya commented on #10
@jhmacdon I'm not sure if the [documentation](https://github.com/fermoya/CatalystPodSupport/blob/master/README.md) isn't clear enough and if so please let me know and I'll try to rephrase it.

To exclude `FirebaseAnalytics` you need to add it to `catalyst_unsupported_pods` the same way you install it. That is, if you do `pod 'Firebase/Analytics'` the same name must go to `catalyst_unsupported_pods

[2020-11-18 20:01] fermoya commented on #10
I'm closing this issue, feel free to open a new one if you find any issue

[2020-11-18 20:01] #10 closed

[2020-12-20 19:52] Brett-Best opened #11 "[BUG] FirebaseCrashlytics compilation error"
**Describe the bug**
I’m integrating Firebase Analytics into an app I’m working on and it’s not working. Perhaps these logs will help, otherwise, I can try to make a sample project to reproduce it.

I’m getting a compilation error when trying to build my app. It seems that the script is affecting the FirebaseCrashytics build.
<img width="2672" alt="image" src="https://user-images.githubusercontent

[2020-12-20 22:06] fermoya commented on #11
Hi @Brett-Best , I've modified the regex expression I use to look up dependencies, can you please try again with the [updated version](https://github.com/fermoya/CatalystPodSupport/blob/master/remove_ios_only_frameworks.rb)?

For the record, the issue is `CocoaPods` renames dependencies when they're part of targets with different SDKs. Same happens with different versions and frameworks vs librari

[2020-12-20 22:43] Brett-Best commented on #11
Thanks @fermoya, can confirm the change fixes the problem for me :D

[2020-12-20 22:43] #11 closed

[2021-01-22 17:39] ky1vstar opened #12 "Add ios_unsupported_pods"
Hi. Your code is working great, but I think there is a lack of revert feature: include specific pods only for Catalyst builds, but not for iOS. My scenario: since Firebase/Analytics is not supported on Catalyst I've substituted it with AppCenter/Analytics which I don't use on iOS at all. So it would be great to remove it from iOS builds. Thanks in advance!

[2021-01-23 18:56] fermoya commented on #12
Hi, can you use copy again the script and define:
[code]
in your Podfile? Don't forget to add this code in your swift file too:
[code]

[2021-01-23 21:42] ky1vstar commented on #12
Hi again. The code you provided is for excluding specific pod from **macCatalyst** build. But I was asking about excluding pods from **iOS** build. Because some pods can be used only on **macCatalyst** and excluding them from **iOS** would prevent this pod's framework from being included to Frameworks directory.

[2021-01-23 21:51] fermoya commented on #12
@ky1vstar on one hand, `catalyst_unsupported_pods` excludes iOS pods from macCatalyst. On the other hand, `catalyst_only_pods` will exclude macCatalyst pods from iOS. Isn't this last one what you were asking for?

[2021-01-23 21:55] ky1vstar commented on #12
Didn't notice that you have already made the commit 😅 Sorry I read your message wrong, I'll try your solution tomorrow, thank you!

[2021-01-26 10:07] ky1vstar commented on #12
@fermoya thank you a lot for a quick response, it works like a charm!

[2021-01-26 10:07] #12 closed

[2021-02-15 23:43] pnome opened #13 "When building for Mac I'm still getting Debug-maccatalyst/XXXX/XXXX.modulemap' not found"
First of all, thank you for what seems to be a very promising and helpful script! If I can get this working, I'll be very happy :)

It's probable that the issue I'm having is user error, but I think I followed all of the instructions to the letter.

I'm using the latest version of the script.

Here's a quick 2 min video showing the error
[https://www.loom.com/share/3a3a5041c6fb4945bfe01de35a7e46b2

[2021-02-16 19:36] fermoya commented on #13
Hi @pnome, can you share your `Podfile` please? I've just run:
[code]
in a Sample Project and all worked well. You might have a more complex configuration in your Podfile and/or your project.

Could you also please complete this table for me?
|Tool|Version|Notes|
----|------|-------|
|Ruby|<e.g. 2.6.0>|`ruby --version`|
| Cocoapods |<e.g. 1.10.0>|`pod --version`|
|Xcode|<e.g. 12.4.4>|`xcodebuild -

[2021-02-16 19:47] pnome commented on #13
Thanks for the quick response. I have two targets, **PolyNome** and **PolyNomePro** which utilise the same pods. There are also a few lines in my podfile that I've added to attempt to fix certain things in the past - they have comments to explain what.

Tool | Version
-- | --
Ruby | 2.6.3p62 (2019-04-16 revision 67580) [universal.x86_64-darwin20]
Cocoapods | 1.10.1
Xcode | 12.4, Build version 12D4

[2021-02-16 20:27] fermoya commented on #13
@pnome I've noticed that:
* You're missing `use_frameworks!` or `use_modular_headers`. With the later, I've noticed I need to add `install! 'cocoapods', :disable_input_output_paths => true` at the top, see [here](https://dev.to/kylefoo/xcode-12-new-build-system-warns-multiple-commands-produce-assets-car-56im).
* Some libraries don't compile for `macCatalyst` and aren't excluded. Those libraries ar

[2021-02-16 21:47] pnome commented on #13
Firstly, I want to thank you for helping me out with this. My understanding of how pods and frameworks and build settings work is pretty limited, so your guidance is much appreciated.

You mentioned that I wasn't using `use_frameworks!` or `use_modular_headers` in my podfile.

There are 2 reasons I don't use `use_frameworks!`
1. My project doesn't build if I use that setting. I have to go through

[2021-02-16 23:07] fermoya commented on #13
@pnome the steps you mention seem correct but I'd do it differently. I'd create a Dummy project, run `pod init` and start adding pods to the dummy project. I think it's easier to go from nothing to the final result.

The above is what I've done to test this. I first used `use_frameworks!` and the checked with `use_modular_headers!` along with `'cocoapods', :disable_input_output_paths => true`. It

[2021-02-18 06:46] pnome commented on #13
Thanks for the update.
I've been working on this pretty solidly for the last couple of days.

I did as you said and started a dummy project. Like you said, it worked fine. So, I had something to compare to.

I discovered a difference in the Build Settings between my project and the dummy project.

In my project, **Build Active Architectures Only** was set to **NO**
In the dummy project, it was set

[2021-02-21 10:21] fermoya commented on #13
It's going to be a PIA, especially if you have so many dependencies and considering you have a bunch that don't compile.

I'll close this for now then, glad it's starting to work 👍🏻

[2021-02-21 10:21] #13 closed

[2021-03-01 20:24] leojkwan opened #16 "[BUG] fastlane integration pod install breaks"
I get ```Invalid `Podfile` file: cannot load such file -- cocoapods-catalyst-support.``` when running my Fastlane lane.

Love your contribution to Catalyst, have you tried integrating this require with Fastlane?

[2021-03-01 22:34] fermoya commented on #16
@leojkwan I haven't tried it with `fastlane`, but I'm curious, why would you? What are you executing from your lane? You'd just need to configure this once. The rest of the time you call `pod install` or `pod update` it should automatically be called in the `post_install` callback. Actually, `pod catalyst run` just calls `pod install` under the hood

[2021-03-01 22:58] leojkwan commented on #16
I'm not calling pod catalyst directly, My fastfile has a `cocoapods` action, which runs `pod install`. I need to run cocoapods to begin my `fastlane beta` lane as well as running remote CI tests. The issue is that Fastlane is breaking when invoking pod install. I don't have much experience with ruby scripts so not sure how to resolve the require statement in order to use `cocoapods-catalyst-suppor

[2021-03-01 22:59] leojkwan commented on #16
By the way, I had been using your script `catalyst_archive_fix.rb` prior, and everything worked fine! (That method did not need the `require 'cocoapods-catalyst-support'` line, as you know).

[2021-03-02 08:24] fermoya commented on #16
@leojkwan did you run `gem install cocoapods-catalys-support`? Also, if you're using `bundle` you should declare add it to your `Gemfile`

[2021-03-02 20:44] fermoya commented on #16
@leojkwan I've been doing some tests and I've come to a solution. First of all, you need to add `cocoapods-catalyst-support` to your `Gemfile`. It should look like this:
[code]
Then run `bundle install` in your project root. Make sure your `Gemfile.lock` installs `cocoapods-catalyst-support (0.1.2)`. Finally, just run your `beta` lane as usual.

I've added a `Fastfile` to the _Sample_ project, you

[2021-03-02 20:54] fermoya commented on #16
I've also added some notes to the `README`, see [Installation](https://github.com/fermoya/cocoapods-catalyst-support#installation) section now.

Let me know if I can help with anything else. I've decided to create a `gem` as it's easier to distribute to users. Also, by using `cocoapods-plugins` I get some functionality for free like `commands`. I've created a couple of them that are useful, see [h

[2021-03-02 20:54] #16 closed

[2021-03-02 21:28] leojkwan commented on #16
cocoapods-catalyst-support (0.1.2) did the trick! Thanks @fermoya !

[2021-03-11 02:19] whywilson opened #19 "[BUG] Framework not found FirebaseAnalytics"
**Describe the bug**
I'm adding macOS support with the project built on iOS which has Firebase Analytics and messaging. And your work seems to be a good solution for the issues. But after the configuring, it always shows the framework not found.

**Podfile**
[code]

**Environment**
* `cocoapods-catalyst-support` => `cocoapods-catalyst-support (0.1.2)`
* _Ruby_ version [e.g 2.6.0] => `ruby 2.6.3p62

[2021-03-11 08:43] fermoya commented on #19
@whywilson is that your entire `Podfile`? I've added those dependencies to the [`Sample` project](https://github.com/fermoya/cocoapods-catalyst-support/tree/master/Sample) and it compiles fine. `Firebase/Analytics` is a basic dependency and I've tried many times.

Please, make sure to:
* Run `pod catalyst run` in your project directory
* Use `#if !targetEnvironment(macCatalyst)` where necessary
*

[2021-03-11 09:18] whywilson commented on #19
Thank you for the reply.
It is the entire `Podfile`.
Here's more information I've tried but still failed.
## Podfile Now
[code]

1. Comment `import Firebase` and relative code (No Firebase code in the project now).
2. Run `pod catalyst run`
3. Get the error below.
[code]

Btw, I'm using MBP 2018 13" on Big Sur 11.1.

[2021-03-11 12:09] fermoya commented on #19
I've created a new branch `task/issue-19` and committed there some changes to the _Sample Project_ `Podfile` to add those dependencies. Could you please download it following [this link](https://github.com/fermoya/cocoapods-catalyst-support/archive/task/issue-19.zip) and let me know if it compiles?

<img width="1512" alt="Screen Shot 2021-03-11 at 12 08 18" src="https://user-images.githubuserconte

[2021-03-12 01:07] whywilson commented on #19
Thank you for providing the project to test again.
Everything works well and builds success.
After the comparison, I found it's the `Other Linker Flags` in `Build Settings` of `Target` results in the error.
After removing all for the macOS, it builds success without unsupported dependency.
This issue can be closed now. Thanks again. 😊

[2021-03-12 01:07] #19 closed

[2021-03-30 09:32] rojo69 opened #20 "FirebaseUI"
Greetings!

I'm having trouble using this with FirebaseUI. Trying to exclude Google's login option when building for Catalyst, but that seems to remove parts from the other authentication variants too, causing compilation (include) errors later.

[code]

[2021-03-30 12:09] geniomar opened #21 "Homebrew support"
Hi Fernando, thank you very much for creating this script! I truly appreciate it 🙂
Would it be possible to have it provided from Homebrew also? It would be awesome.

Thanks!

[2021-03-30 18:22] fermoya commented on #20
@rojo69 do you mean when using in iOS?

[2021-03-30 18:44] fermoya commented on #20
@rojo69 the following `Podfile`:
[code]

[2021-03-30 20:15] rojo69 commented on #20
It doesn’t compile for Mac. Error during @import of FirebaseUI. We exclude Google’s auth implementation for Catalyst, but keep others such as Facebook, phone, mail and Apple.

BR!
/Roger

[2021-03-30 20:26] fermoya commented on #20
@rojo69 I've created the following branch:
https://github.com/fermoya/cocoapods-catalyst-support/tree/fix/issue-20

in which I've included the same dependencies as you. After running `pod install`, It builds successfully:
<img width="709" alt="Screen Shot 2021-03-30 at 21 21 48" src="https://user-images.githubusercontent.com/11335612/113051673-26fe6a80-919e-11eb-9d1b-dd4c121c3e90.png">

Next steps

[2021-03-31 06:59] rojo69 commented on #20
After doing a `pod update` the sample project compiled for both iOS and Catalyst.

However after adding `import FirebaseUI` to the AppDelegate Mac compilation failed with a similar issue as in my project.

[code]

[2021-03-31 07:07] fermoya commented on #20
@rojo69 how do you import `FirebaseUI`? You should do it like:
[code]
As specific in the [`What does this library DO?`](https://github.com/fermoya/cocoapods-catalyst-support#what-does-this-library-do) section

[2021-03-31 07:30] rojo69 commented on #20
I do it without the preprocessor conditional statements, just `import FirebaseUI`.
I still need to use FirebaseUI in Mac, but not Google's authentication since it's not compatible with Catalyst.
My guess crucial parts (shared libraries?) of FirebaseUI is filtered away when `FirebaseUI/Google` is excluded.

[2021-04-01 16:00] fermoya commented on #20
@rojo69 I think any of those frameworks work with macCatalyst? have you tried?

[2021-04-01 16:49] rojo69 commented on #20
The app  builds fine in Catalyst if I remove 'FirebaseUI/Google'. I haven’t tested all aspects of the other libraries, but I have authenticated using some of them.

[2021-04-01 21:01] fermoya commented on #20
@rojo69 do you wanna try to install this gem attached and let me know if it works?
[cocoapods-catalyst-support-0.1.3.gem.zip](https://github.com/fermoya/cocoapods-catalyst-support/files/6246464/cocoapods-catalyst-support-0.1.3.gem.zip)

You just need to unzip it and run `sudo gem install cocoapods-catalyst-support-0.1.3.gem`

[2021-04-06 15:43] tamasjager opened #22 "[BUG] Pod is removed from catalyst builds without adding it to `catalyst_configuration`"
**Describe the bug**
Hey, we're using a local pod that is always removed from the catalyst build even if we don't specify it in `catalyst_configuration`. The pod has `StoreKit` in its name and we suspect an over-eager name matching causes this unnecessary removal.

In a previous version of this script, this line was the main offender in the `uninstall` function:
```lines_to_replace = snippet.filte

[2021-04-06 15:59] fermoya commented on #22
Hi @tamasjager , the line you mention should be in [native_target.rb](https://github.com/fermoya/cocoapods-catalyst-support/blob/master/lib/cocoapods-catalyst-support/xcodeproj/native_target.rb) but this is something that should definitely be solved.

So rather than checking if `Foo` is included in the bash file your fix tries to match `/Foo` to avoid fake matches like `MKFoo`, for instance. Is th

[2021-04-06 19:02] tamasjager commented on #22
Yes. In the meantime my colleague made a PR with the same fix https://github.com/fermoya/cocoapods-catalyst-support/pull/23.

[2021-04-07 16:32] fermoya commented on #22
Thanks @tamasjager . I'll release a version shortly, thanks for the fix

[2021-04-07 16:32] #22 closed

[2021-04-07 16:34] fermoya commented on #21
Hi @geniomar , I've explored the option of using homebrew taps. Nonetheless, this isn't a priority at the moment as it would requires other tasks first.

Feel free to open a PR if you feel confident to support this feature 👍

[2021-04-08 10:11] geniomar commented on #21
Ok @fermoya, thanks for your answer!

[2021-04-12 19:31] fermoya commented on #22
version `0.1.3` released 🚀

[2021-04-13 06:38] rojo69 commented on #20
Sorry about late answer. This time I got a different error:

[code]

[2021-04-20 15:29] BRadHoc opened #26 "Still getting error"
Podfile:

[code]

It's building fine for iOS but still getting the same error with this configuration, any ideas?

[2021-04-20 17:53] fermoya commented on #26
@BRadHoc have you opened any other issue? Can you reference it here please?

[2021-04-28 14:10] BRadHoc commented on #26
I haven't got another issue. I meant "still" as in it wouldn't build before without catalyst-support and it still won't build with this currently.

[2021-05-13 03:03] bdaz commented on #26
Having the same issue. Curiously it doesn't seem to work with "Firebase/Analytics" specifically -- "Nothing to uninstall"

[2021-05-16 10:20] fermoya commented on #26
@BRadHoc please, from now on use the issue templates available. This issue is missing information required to properly analyse it.

Could any of you @bdaz or @BRadHoc please let me know you Xcode and Cocoapods version? Mine is `12.4` and `1.10.1`.

I'm using the same dependencies as in the description ☝️ in my [Sample](https://github.com/fermoya/cocoapods-catalyst-support/tree/bug-issue-26/Sample)

[2021-05-17 20:52] bdaz commented on #26
@fermoya Xcode version is 12.5. Cocoapods version is 1.10.1.

I did what you asked. Step 2 and 4 both work—however, I did manage to reproduce the error in the Sample using that branch—it simply involved a local pod that depends on 'Firebase/Analytics'. You can see the setup here: https://github.com/bdaz/cocoapods-catalyst-support/tree/issue-26-bdaz-modified

Note that I removed all other dependenc

[2021-07-12 22:32] franciscorosso opened #28 "[BUG] Installing error"
I am getting error after installing cocoapods-catalyst-support on my M1 Mac.

I tried `sudo gem install cocoapods-catalyst-support`.  The gem installs OK, but then when I want to run `pod catalyst init` I got this error `[!] Unknown command: catalyst`

Thanks in advance for your help,
Francisco.

[2021-07-26 17:54] jkichline opened #30 "Certain files are not downloaded in certain Cocoapods."
**Describe the bug**
It appears that certain Cocoapods and configurations that work on Intel Macs do not pod update on M1 Macs. In both cases, a single file in a specific Cocoapod is not able to be downloaded which prevents the project from compiling. In this case "libxlsxwriter" will not download metadata.h/.m using the 1.1.1 version, but will if dropped to 1.0.9. Additionally if that works,  the

[2021-09-30 10:38] gracedmarks commented on #28
I experienced bug like this too

[2021-12-03 06:19] tristanSIF opened #31 "OTHER_SWIFT_FLAGS and HEADER_SEARCH_PATHS"
Greetings!

i think we can separate modulemap and headers_search_path in pod's xcconfig file either.
With these, we can use `#if canImport(IQKeyboardManager)` in swift and `#if __has_include("IQKeyboardManager.h")` in oc,
instead of using `#if !targetEnviroment(macCatalyst)`, for more clarity and supports more platforms

[code]
to
[code]

And besides, i'm wondering if we can specify archs which re

[2021-12-05 11:38] fermoya commented on #31
Hi @tristanSIF , I don't think that'd be an option. Those you mention aré `Build Settings` and would work fine for static but not for dynamic libraries. The latter needs also to filter `Compile Sources` in `Build Phases` among others. The option for this filter is `macOS` and doesn't distinguish between `x86_64` and `arm64`.

[2021-12-07 01:24] tristanSIF commented on #31
Hi @fermoya . I'm sorry for my poor english. I mean to use these two settings to work together with this great library, as additional processing of xcconfig file.

[2021-12-17 22:59] luca992 commented on #28
Same. Did you ever resolve it?

[2021-12-17 23:42] luca992 commented on #28
Figured it out:

First add this [Gemfile](https://github.com/fermoya/cocoapods-catalyst-support/blob/master/Sample/Gemfile) to the root of you project:

Run
`bundle install`

`bundle exec pod catalyst init`

So I guess you need to prepend `bundle exec` to your pod commands

[2021-12-18 09:08] fermoya commented on #31
Hi @tristanSIF , the architectures won't be possible. Changing `OTHER_SWIFT_FLAGS` and `HEADER_SEARCH_PATHS` should be fine, I can look into that.

The file where changes need to be made is [abstract_target.rb](lib/cocoapods-catalyst-support/xcodeproj/abstract_target.rb) in case you wanna give it a try.

[2021-12-18 09:16] #28 closed

[2021-12-18 09:30] fermoya commented on #26
@bdaz I think your `Podfile` in your example is wrong. By saying this:
[code]
You're defining a `Sample` target that depends on `Firebase/Analytics` and `TFBase`. To add `Firebase/Analytics` as a dependency of `TFBase` you need to say so:

target 'TFBase' do
  pod 'Firebase/Analytics'
[code]
abstract_target 'App' do
  pod 'Firebase/Analytics # shared by all targets declared in here
  target 'Sampl

[2021-12-18 09:31] #26 closed

[2021-12-20 20:02] fermoya commented on #31
@tristanSIF I'm not sure what you suggest is enough to use `canImport` instead. I've pushed some changes to `feat/issue-31` in the repo. I'm adding the `sdk` clause to:
* `OTHER_SWIFT_FLAGS`
* `HEADER_SEARCH_PATHS`
* `OTHER_LDFLAGS`
* `OTHER_SWIFT_FLAGS`

But it doesn't seem to work. You can try it yourself by trying to build the `Sample` project. If you want to clone the repo you can also use tha

[2021-12-21 09:27] tristanSIF commented on #31
@fermoya
I'm using `use_modular_headers!` instead of `use_frameworks!` in podfile and the xcconfig will be different.

The `OTHER_SWIFT_FLAGS` only appears with `use_modular_headers!`.

After testing the sample project, I found that there was not much to do when using `use_frameworks!` with `feat/issue_31`

##  use_frameworks!

<details>
  <summary>XCCONFIG FILE GENERATED</summary>
<pre><code>
CLA

[2021-12-21 14:18] fermoya commented on #30
This sounds as an issue on their end, especially `libxlsxwriter`. If those `pods` aren't affected by the script I don't see why they'd fail.

I can't reproduce it so I'll close

[2021-12-21 14:18] #30 closed

[2021-12-21 15:30] fermoya commented on #31
Hi @tristanSIF thanks for clarifying, I didn't know you needed to use `use_modular_headers!` instead.

Does that mean that it works as expected and you're happy with the work done in that branch?

[2021-12-22 00:51] tristanSIF commented on #31
@fermoya
There are still some misconfigurations by feat/issue-31 both with `use_frameworks!` and `use_modular_headers!`, which have been listed in the comment above.
And the expected settings can be seen above by clicking on 'XCCONFIG FILE MANUALLY FIXED'

[2021-12-22 07:18] tristanSIF commented on #31
@fermoya
Version 2.0 is superb, and it works exactly as I expected in Swift.

However, I have encountered some problems in oc, both with `use_frameworks!` and `use_modular_headers!`
1. `HEADER_SEARCH_PATHS = $(inherited) "${PODS_ROOT}/Headers/Public" "${PODS_ROOT}/Headers/Public/Firebase" $(inherited) ${PODS_ROOT}/Firebase/CoreOnly/Sources "${PODS_TARGET_SRCROOT}/Sources/FBLPromises/include"` Fire

[2021-12-22 16:11] fermoya commented on #31
I pushed new changes @tristanSIF , it should be all good now hopefully. It compiles for both `Mac` and `arm64` no matter if `use_frameworks!` or `use_modular_headers!`

[2021-12-23 09:55] tristanSIF commented on #31
@fermoya I still have questions about `"${PODS_ROOT}/Headers/Public"`, which is auto-generated and added to `HEADER_SEARCH_PATHS` by cocoapods.
I am not sure if the following words are correct, and I'm not sure if removing it will have any side effects.

In my opinion, this directory is created just as a container for placing libraries' header files, which are placed in sub-directories. And no hea

[2021-12-23 22:03] fermoya commented on #31
@tristanSIF I'm not so sure you can just remove `"${PODS_ROOT}/Headers/Public"`. It's not necessary for this particular `Sample` project but it might be the case that some other `pod` that you wanna keep requires that particular path to import some `Public` header. Removing it would surely cause a compilation error.

Those headers should've been marked as `macOS` in the `Pods.xcproject` _Build Pha

[2021-12-28 01:54] tristanSIF commented on #31
No questions any more. Thank you so very much.

[2021-12-28 01:54] #31 closed

[2022-01-04 22:26] neobeppe commented on #21
+1 on brew supper request, just following

[2022-02-03 14:23] Ruman1234 opened #33 "I am not able to install [BUG]"
Building native extensions. This could take a while...
ERROR:  Error installing cocoapods-catalyst-support:
	ERROR: Failed to build gem native extension.

    current directory: /Library/Ruby/Gems/2.6.0/gems/ffi-1.15.5/ext/ffi_c
/System/Library/Frameworks/Ruby.framework/Versions/2.6/usr/bin/ruby -I /System/Library/Frameworks/Ruby.framework/Versions/2.6/usr/lib/ruby/2.6.0 -r ./siteconf20220203-9596

[2022-02-04 06:02] Ruman1234 commented on #33
@fermoya @tibiiii @fermoyadrop  may i get some help in this problem.

[2022-02-04 08:55] fermoya commented on #33
Hi @Ruman1234 , please describe the issue and don't suppose I'll know by reading some logs. Provide some information:
- Your environment
- Steps to reproduce
- Commands executed
- ...

[2022-02-04 10:36] Ruman1234 commented on #33
@fermoya ok I am not very technical in this
i just run this command in terminal (i have macbook 2019 macOS 12.1 , Xcode 13.2.1)
gem install cocoapods-catalyst-support

it says i dont have permission
then i run sudo gem install cocoapods-catalyst-support

and this error comes

[2022-02-04 10:37] Ruman1234 commented on #33
i tried multiple solutions but not worked for me after spending 2 days i just reach to you i hope you help this Jr dev

thanks in advance

[2022-02-04 18:21] fermoya commented on #33
Check out the logs you shared above:
[code]

Sounds like you're missing the `Command Line Tools`. I suggest you follow one of [these suggestions](https://stackoverflow.com/a/31362483)

[2022-02-04 18:21] #33 closed

[2022-03-01 09:46] nysander opened #34 "[BUG] Unable to run `pod catalyst`"
**Describe the bug**
I try to prepare cocoapods for Mac catalyst and as a result i have:

[code]
**Podfile**
[code]

**Environment**
* `cocoapods-catalyst-support` => cocoapods-catalyst-support (0.2.0)
* _Ruby_ version [e.g 2.6.0] => 2.7.5
* _Cocoapods_ version [e.g 1.10.0] => 1.11.2
* _Xcode_ version [e.g 12.2] => Xcode 13.2.1 Build version 13C100

**Additional context**
I run macOS Monterey 12.2

[2022-03-25 11:02] stan96D opened #35 "Issue with Objective-C Bridging header"
**Describe the bug**
When compiling our project we encounter an error which states the content in our Objective-C Bridging header isn't found. Also the macro doesn't work in such file so we aren't able to exclude it. But once we comment out the content of the Bridging header the project works fine on Mac Catalyst, however it doesn't on iOs since the Bridging header data is missing. Is there some o

[2022-03-25 21:30] stan96D commented on #35
@fermoya Sorry if it wasn’t clear but yes, that’s the case.

[2022-03-25 23:52] fermoya commented on #35
@stan96D it was very clear, just wanted to make sure I understood correctly. I'll take a look. I'm not sure why that happens, but do you think you could create a sample project for me to take a look? Otherwise I'll try to reproduce it myself

[2022-03-26 05:35] houmie opened #36 "[BUG] AdColony doesn't get removed"
This is an amazing project. Thanks for the hard work you have put into this.

**AdColony doesn't get properly filtered out**
I have come across an anomaly with removing Google Admob and its dependencies.

The verbose message below looks good to me. In theory it's finding all the incompatible libraries, but in practice I still can't build the project. The error I'm getting is: ```ld: framework not

[2022-03-26 09:01] fermoya commented on #35
@stan96D can you show me what your bridging header looks like? I don't think this file should be excluded as you might want to be adding frameworks or files that are needed for `macOS`

Your bridging-header should look something like this:
[code]
And then, if you had any Objective-C code:
[code]
And your Swift code:
[code]
Let me know if that helps.

[2022-03-26 09:12] fermoya commented on #36
Hi @houmie , where are you getting the error you describe?
[code]
I'm assuming you're importing `AdColony` and the compiler gives you a shout at that line. Are you using some kind of compiler test before importing the dependency as mentioned in [this section](https://github.com/fermoya/cocoapods-catalyst-support#what-does-this-library-do)?
[code]

[2022-03-26 09:29] houmie commented on #36
Hi @fermoya

Thank you for coming back to me.

I get the error when compiling the project.

I'm using AdColony as mediation with Google Admob.  I just did a search in the code and I'm nowhere importing AdColony directly. It's rather installed as dependency of ```GoogleMobileAdsMediationAdColony```, which is already excluded.  But I think your script may not exclude the dependencies of that Pod abo

[2022-03-26 09:33] fermoya commented on #34
Hi @nysander , sorry for the late response. The plug-in is failing to retrieve those dependencies that shouldn't be removed and for some reason it's not finding the `<SomeModule>.xcconfig` file.

Can you try going to the file in the error:
[code]
And change likes 96-96 as:
[code]
And run it again?

[2022-03-26 09:45] fermoya commented on #36
@houmie the error displays `Debug-maccatalyst`, that means you're compiling for `macOS` and yet, `#if iOS` resolves true and tries to `import` the framework.

`macCatalyst` used iOS SDK under the hood so that condition resolves to `true`. The error should be resolved if you change:
[code]
To
[code]
Or
[code]
Please give it a try.

[2022-03-26 10:01] houmie commented on #36
@fermoya Thanks Fernando.

I just tried that replaced all of ```#if iOS``` with ```#if !targetEnvironment(macCatalyst)```.
But sadly I get the exact same error when building the project. I cleaned the build folder and even ran ```pod catalyst run``` again. But same issue :-(

[2022-03-26 19:41] thecavilnator opened #37 "Why did this go from being a script to a library to install?"
This used to be a script and now it's an entire library. Why has this occurred? Is the install safe?

[2022-03-26 19:43] thecavilnator opened #38 "Library seems very insecure."
The library has a ton of modules and sdks linked to it and seems VERY sketchy.

[2022-03-26 21:32] fermoya commented on #37
Yes, it's easier to maintain as it grows with new functionality and covers more scenarios. Plus, it's easier to use now and more verbose.

Feel free to keep using the script if you wish

[2022-03-26 21:32] fermoya commented on #37
Yes, it's easier to maintain as it grows with new functionality and covers more scenarios. Plus, it's easier to use now and more verbose.

Feel free to keep using the script if you wish

[2022-03-26 21:32] #37 closed

[2022-03-26 21:36] fermoya commented on #38
I don't understand what you mean by modules. It's gone from a couple-of-hundreds-of-lines script to a proper Ruby gem where the script is distributed into several files. It can be installed via a `gem install command` and offers a cli commands to help you start using it.

I appreciate your feedback but the future there's no way back to a 1 file

[2022-03-26 21:36] #38 closed

[2022-03-27 17:39] fermoya commented on #36
@houmie I've prepared a branch where I've added the problematic dependencies to my `Sample` project, you can find it here:
https://github.com/fermoya/cocoapods-catalyst-support/tree/fix/issue-36/Sample

Can you please download that code and let me know if it compiles? I can make it compile. Check out how I import the framework:
https://github.com/fermoya/cocoapods-catalyst-support/blob/fix/issue-3

[2022-03-28 09:52] stan96D commented on #35
Allright man thanks a lot! Here's the content of my Bridging header.

#import <StarIO/SMPortSwift.h>

#import <StarIO_Extension/StarIoExt.h>
#import <StarIO_Extension/StarIoExtManager.h>
#import <StarIO_Extension/SMBluetoothManagerFactory.h>
#import <StarIO_Extension/SMSoundSetting.h>

// To use StarIODeviceSetting.xcframework, you also need to write the following lines.
#import <StarIODeviceSetti

[2022-03-29 10:23] stan96D commented on #35
Hi man, I did the things you mentioned and it worked! Thanks! This is the Bridging header I ended up with;

#if __has_include(<StarIO/SMPortSwift.h>)
#import <StarIO/SMPortSwift.h>
#endif

#if __has_include(<StarIO_Extension/StarIoExt.h>)
#import <StarIO_Extension/StarIoExt.h>
#endif

#if __has_include(<StarIO_Extension/StarIoExtManager.h>)
#import <StarIO_Extension/StarIoExtManager.h>
#endif

#if

[2022-03-29 10:23] #35 closed

[2022-03-30 10:50] fermoya commented on #34
Fixed on `0.2.1`

[2022-03-30 10:52] #34 closed

[2022-04-09 16:38] houmie commented on #36
Hello @fermoya

Thank you for the branch provided. I have tried your project and can confirm that it works. I still don't know what is causing the issue in my project. You have seen the output earlier yourself.  I think the target might be a bit old as I have it for a few years and maybe some setting in it is not up-to-date.

Even though if I'd  bypass that the [next issue](https://www.reddit.com/

[2022-04-09 17:52] Brett-Best commented on #36
@houmie might be worth trying `[bundle exec] pod deintegrate` then `[bundle exec] pod install` remove the `[bundle exec]`  from the commands if you aren’t using a Gemfile. If you haven’t already, deleting derived data manually might help `rm -rf ~/Library/Developer/Xcode/DerivedData`.

[2022-04-15 08:05] Howard-Flipped commented on #21
+1 my M1 Mac also use Homebrew install cocoapods

[2022-04-18 08:31] Howard-Flipped opened #42 "[BUG] Unknown command: `catalyst`"
**Describe the bug**

My cocoapods install with brew, in use cocoapods-catalyst-support,
when input: pod catalyst run, error:

pod catalyst run
[!] Unknown command: `catalyst`
Did you mean: list?

**Podfile**
Please provide your `Podfile` here.

**Environment**
* `cocoapods-catalyst-support` => <run `gem list | grep cocoapods-catalyst-support`>
*  ✅ cocoapods-catalyst-support (0.2.1)
* _Ruby_ vers

[2022-04-18 08:34] Howard-Flipped commented on #42
<img width="645" alt="截屏2022-04-18 16 34 02" src="https://user-images.githubusercontent.com/15625147/163781329-f576c01d-4906-46e7-b690-3213eecdf2a4.png">

[2022-04-18 09:24] fermoya commented on #42
@Howard-Wang-Hao have you followed the [Installation](https://github.com/fermoya/cocoapods-catalyst-support#installation) guide? I’d recommend you use `Bundle` and a `Gemfile` in your project. Home brew is not currently supported, see request [here](https://github.com/fermoya/cocoapods-catalyst-support/issues/21)

[2022-04-18 09:24] #42 closed, assigned to nobody

[2022-04-18 10:52] Howard-Flipped commented on #42
Hello, I have followed your Installation & Usage guide.
But there are still errors,
Libraries that don't support Macs don't seem to be ruled out

pod catalyst run
Analyzing dependencies
Downloading dependencies
Generating Pods project

#### Configuring macos dependencies ####

#### Unsupported Libraries ####
[]

#### Unsupported dependencies ####
[]

#### Frameworks not to be included in the Archi

[2022-04-18 10:54] Howard-Wang-Hao commented on #42
<img width="1315" alt="截屏2022-04-18 18 47 00" src="https://user-images.githubusercontent.com/15625147/163798654-06af962d-3544-4fd4-984d-cd1e2167bddb.png">
<img width="1315" alt="截屏2022-04-18 18 47 00" src="https://user-images.githubusercontent.com/15625147/163798675-0b421152-7b4d-4589-9fae-2fa0d88b5d3b.png">

[2022-04-18 11:02] Howard-Flipped commented on #42
<img width="1315" alt="截屏2022-04-18 18 47 00" src="https://user-images.githubusercontent.com/15625147/163799239-c33dd2d5-a612-4b1a-8d11-8b6ed0eb77d9.png">
<img width="1329" alt="截屏2022-04-18 18 47 16" src="https://user-images.githubusercontent.com/15625147/163799462-9060dea8-5edf-4078-bc8b-61668e378999.png">

[2022-04-18 11:03] Howard-Flipped commented on #42
@fermoya Very confused, it seems that every step before compiling is not reported by mistake

[2022-04-18 12:58] fermoya commented on #42
@Howard-Wang-Hao i need your Podfile to make take a look at your dependency structure and how the way you're using the framework

[2022-04-18 13:48] Howard-Flipped commented on #42
[code]

[2022-04-18 13:50] Howard-Flipped commented on #42
@fermoya it is here, note that AlicloudTLog depends on AliHACore

[2022-04-19 09:56] Howard-Flipped commented on #42
@fermoya Is there any problem？

[2022-05-18 02:53] victoraraujo01 opened #43 "[BUG] Firebase/AnalyticsWithoutAdIdSupport not being removed from catalyst build"
Hi there!

I've been trying to use cocoapods-catalyst-support to remove Firebase/AnalyticsWithoutAdIdSupport from my Catalyst build with no success.

This is a subspec of the Firebase/Analytics pod designed to ensure that the AdSupport framework is not included in your app so no issues related to ad tracking could pop up during app review (https://firebase.google.com/docs/analytics/configure-data-

[2022-06-09 08:20] matteogobbi opened #45 "[BUG] Flurry doesn't get removed"
No luck..

[code]

[2022-08-18 18:53] jpreiditsch opened #47 "Framework not found RangersAPM_Pangle when using Ads-Global or GoogleMobileAdsMediationPangle cocoa pod"
We are attempting to add Google Ad Mob mediation for the Pangle Global Ad Network to our IOS App. Using the cocoa-pods-catalyst support works fine for the iOS variant but the macOS variant fails to link due to the error Framework not found RangersAPM_Pangle. The RangersAPM_Pangle is one of the dependencies of the main pod import.

We do not directly reference the code anywhere within our project.

[2022-09-26 20:10] jpreiditsch commented on #47
I have found that the issue actually is in the generated  Pods-[PROJECT].debug.xcconfig Pods-[PROJECT].release.xcconfig config files.
The OTHER_LDFLAGS is including libraries from dependencies of the GoogleMobileAdsMediationPangle in the normal line rather than in the specific one for ios

If I change

-OTHER_LDFLAGS = $(inherited) -ObjC -l"c++" -l"sqlite3" -l"z" -framework "CoreTelephony" -framew

[2022-09-27 14:57] jpreiditsch commented on #47
`#### Configuring macos dependencies ####

#### Unsupported Libraries ####
["Google-Mobile-Ads-SDK", "GoogleMobileAdsMediationTapjoy", "GoogleMobileAdsMediationFacebook", "GoogleMobileAdsMediationAppLovin", "GoogleMobileAdsMediationAdColony", "GoogleMobileAdsMediationVungle", "GoogleMobileAdsMediationPangle", "GoogleUserMessagingPlatform", "AdColony", "AppLovinSDK", "FBAudienceNetwork", "Ads-Globa

[2022-10-23 13:21] ahmdmhasn commented on #42
Since it's not supported on Homebrew yet #21,  you should use gem.
- In Gemfile
- Add `gem 'cocoapods-catalyst-support'`